

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#searchForm {
    background: red;
}

#inputField, #googleSearchInput {
    width: auto;
    max-width: 584px;

    background: #fff;

    border-radius: 24px;
}

header, footer {
    background: blue;
    padding: 5px;
    color:white;
}